header {
    margin: 3rem auto;
    text-align: center;
}

img {
    width: 8rem;
}

h1 {
    background-clip: text;
    text-fill-color: transparent;
    color: #b700ff;
    font-size: 3rem;
    margin: 1rem auto;
}